<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://database:5432/db</property>

        <property name="connection.username">admin</property>
        <property name="connection.password">horse_ate_green_guinea_pig</property>

        <!-- <property name="show_sql">true</property>
        <property name="format_sql">true</property> -->
        <property name="hbm2ddl.auto">update</property>

        <mapping class="org.web3.models.User"/>
        <mapping class="org.web3.models.Point"/>
        <!-- <mapping package="org.web3.models"/> -->
    </session-factory>
</hibernate-configuration>